<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="box3">
      <p>Phishing Website Info:</p>
      <div class="box2">
        <p class="boxtxt">
          For your information, please don't put weird links...
        </p>
      </div>
    </div>

    <!-- Trigger/Open The Modal -->
    <button id="myBtn">More Info</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p class="modaltxt">Examples of Broken Links and their Errors:</p>
        <ul class="exs">
          <li>
            website.com/domain-%comp. - results into a 400 bad request error.
            Usually occurs due to the user mistyping in the URL.
          </li>
          <li>
            www.website.com/shop/domain/ - lets say a website from the old
            domain you copied changed into a new domain, that old domain
            wouldn't be accesable anymore.
          </li>
          <li>
            www.website.com/shop/domain/ - the same link can also cause a 404
            error page. This results due to the domain being deleted or not
            updated
          </li>
        </ul>

        <ul class="exs2">
          <p class="modaltxt">To Learn Mre</p>
          <li>
            <a href="https://www.semrush.com/blog/broken-link/">
              Semrush Blog</a
            >
          </li>
          <li>
            <a
              href="https://www.pixelfish.com.au/blog/most-common-website-errors/"
            >
              Pixel Fish</a
            >
          </li>
          <li>
            <a
              href="https://www.pingdom.com/blog/the-5-most-common-http-errors-according-to-google/"
            >
              Pingdom</a
            >
          </li>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Status"
            >
              Modzilla Web Docs</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="box">
      <form name="search">
        <input
          type="text"
          class="input"
          name="txt"
          onmouseout="this.value = ''; this.blur();"
        />
      </form>
      <i class="fas fa-search"></i>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
