<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="box">
      <form name="search" onsubmit="return false;">
        <input
          id="inputField"
          class="input"
          placeholder="Enter a link"
          type="text"
          name="text"
        />
        <button type="button" onclick="handleLinkInfo()">Scan</button>
      </form>
      <i class="fas fa-search">
        <img src="icons8-search-ezgif.com-gif-maker.gif"
      /></i>
    </div>
    <a href="" target="" id="">
      <i class=""> </i>
    </a>
    <!-- ignore this piece...-->
    <script src="/javascripts/script.js"></script>
  </body>
</html>
